body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One";
    background: linear-gradient(to right,black, black); text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

ul {
    margin: 0px;
}

body > header {
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: space-around;
}

body > footer {
    background-color: orangered;
}

body > main > article {
    width: 70%;
    margin: auto;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    border-radius: 20%;
}